body {
    background-color: rgb(101, 96, 96);
}
hr {
    height: 10px;
    color: azure;
    background-color: aliceblue;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }